body {
  background-color: #e5e3dc;
}

p {
  font-family: alber-new-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
.modal-title,
.nav-link {
  font-family: gimlet-micro-condensed, serif;
  font-weight: 400;
  font-style: normal;
}
h1 {
  font-size: 25px;
}
h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.container {
  max-width: none;
}
.shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}
/*
.modal-open {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
*/
