.list-group {
  max-width: 1200px;
  margin: auto;
  .row {
    // gap: 30px;
    justify-content: space-between;
    .col {
      .list-group-item {
        height: 100%;
        border: none;
        border-radius: 0;
        background-color: transparent;

        .link-info {
          color: black;
          text-decoration: none;
          .card {
            height: 100%;
            border: none;
            border-radius: 0;
            max-width: 350px;
            margin: auto;
            transition: all ease-in-out 0.2s;
            &:hover {
              transform: scale(1.03);
              transition: all ease-in-out 0.2s;
            }

            img {
              height: 250px;
              border-radius: 0;
            }
          }
        }
      }
    }
  }
}
