.modal {
  .modal-dialog {
    height: 100%;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    .modal-content {
      border-radius: 0;
      .modal-header {
        border-bottom: 0;
      }
    }
  }
}
