.dropdown-menu {
  background-color: #e5e3dc;
  width: 200px;
  padding: 10px;
  border-radius: 0;
  border: none;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  button {
    width: fit-content;
  }
}
.dropdown-menu.show {
  display: flex;
  flex-direction: column;
}
