footer {
  background-color: white;
  font-size: 12px;
  text-align: center;

  .nav-link {
    color: black;
    &:hover {
      text-decoration: underline;
    }
    i {
      font-size: 25px;
    }
  }
  .row {
    p,
    input,
    button {
      font-size: 12px;
    }
    .col {
      display: flex;
      justify-content: center;
      .row {
        .col:first-of-type {
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
  .footer-icons {
    justify-content: space-around;
    .col {
      padding: 0;
      a {
        padding-left: 10px;
        padding-right: 10px;
      }
    }
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  footer {
    .row {
      .col {
        .row {
          .one {
            a {
              text-align: left;
              padding-left: 1rem;
              align-self: flex-start;
            }

            .footer-icons {
              align-self: flex-start;
              .col {
                padding-left: calc(var(--bs-gutter-x) * 0.5);
              }
            }
          }
          .three {
            .row {
              .col {
                justify-content: flex-end;
                .row {
                  .col:first-of-type {
                    align-items: flex-end;
                  }
                }
                a {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  footer {
    .row {
      .col {
        .row {
          .one {
            a {
              text-align: left;
              padding-left: 1rem;
              align-self: flex-start;
            }

            .footer-icons {
              align-self: flex-start;
              .col {
                padding-left: calc(var(--bs-gutter-x) * 0.5);
              }
            }
          }
          .three {
            .row {
              .col {
                justify-content: flex-end;
                .row {
                  .col:first-of-type {
                    align-items: flex-end;
                  }
                }
                a {
                  text-align: right;
                }
              }
            }
          }
        }
      }
    }
  }
}
