//Animation

#hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 40px;
  transform: rotate(180deg);
  span {
    height: 3px;
    height: 2px;
    background-color: white;
    transition: all, 0.4s;
  }
  #span1,
  #span2,
  #span3 {
    width: 30px;
  }

  &[aria-expanded="true"] {
    #span1 {
      transform: rotate(45deg) translate(5px, 7px);
    }
    #span3 {
      transform: rotate(-45deg) translate(4px, -6px);
    }
    #span2 {
      width: 0;
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  #hamburger {
    display: none;
  }
}
