//first container

.above-fold {
  height: 100vh;

  .row {
    height: 100%;

    justify-content: space-between;

    .col1 {
      .row {
        align-content: space-between;
      }
    }
    .col2 {
      justify-content: flex-end;
      align-items: flex-end;
      img {
        height: 750px;
      }
    }
  }
}

//second container

.top-picks {
  .list-group .row {
    .col {
      .list-group-item {
        background-color: transparent;
        border: transparent;

        a {
          .card {
            height: 535px;
            img {
              height: 320px;
              width: 100%;
              object-fit: cover;
            }
          }
        }
      }
    }
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
}
