input,
.input-group,
.form-control {
  border: solid black 2px;
  border-radius: 0;
  background-color: transparent;
}

.filter {
  border: none;

  .form-check-input[type="checkbox"] {
    border: solid 2px black;
    border-radius: 0;
    background-color: transparent;
    color: black;
  }
  .form-check-input:checked[type="checkbox"] {
    background-color: black;
  }
}
