.navbar {
  height: 60px;
  background-color: black;
  z-index: 10;
  top: 0;
  position: fixed;
  justify-content: flex-end;
  width: 100vw;
  a {
    color: transparent;
    text-align: center;
    font-family: gimlet-micro-condensed, serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    height: 60px;
    align-items: center;
  }
  #logo-container {
    margin-right: auto;
    #logo {
      padding-left: 1em;
    }
  }
  .navbar-collapse {
    top: 60px;
    background-color: black;
  }

  .navbar-toggler {
    border: none;
    &:focus {
      box-shadow: none;
    }
  }
  .nav-link {
    padding-bottom: 0;
    align-self: center;
  }
  #search-button {
    float: right;
  }
  #hamburger {
    padding-right: 1em;
  }
}

#nav-border {
  width: 100%;
  border-bottom: 2px solid;
  margin: auto;
}

.clear-header {
  padding-top: 90px;
}

// admin-navbar
.container {
  .admin-navbar-hidden {
    align-content: center;
    a {
      margin: auto;
      padding: 0;
      span {
        margin: auto;
      }
    }
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar {
    #logo-container {
      text-align: left;
      padding-left: 2em;
    }

    #search-button {
      display: block;
      order: 3;
      padding-right: 2em;
    }
  }

  #navbarSupportedContent {
    form {
      float: right;
    }
  }
}
