.navbar-collapse {
  form {
    .row {
      margin: auto;
      justify-content: center;
    }
    #searchResult {
      background-color: white;
      a {
        padding-bottom: 10px;
        border-bottom: 2px solid black;
      }
    }

    .form-control {
      border: 2px solid white;
      border-radius: 0;
      height: 25px;
      background-color: white;
      width: 300px;

      &:after,
      &:focus {
        border: 2px solid white;
      }
    }
  }
  #search-bar.show .py-3 {
    padding-bottom: 0;
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .navbar-collapse {
    display: block;
    form {
      .form-control {
        max-width: 300px;
        display: block;
      }
    }
  }
  .navbar-collapse {
    form {
      .row {
        margin: 0;
        width: 100%;
      }
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar {
    #navbarSupportedContent {
      justify-content: end;
    }
    form {
      justify-content: end;
    }
    #search-bar {
      transition: all 0.3s;
      .row {
        margin: 0;
      }
    }
    #search-bar:not(.show) {
      position: absolute;
      transition: all 0.3s;
      right: -80px;

      opacity: 0;
      top: 25px;
      width: 100px;
    }
    #search-bar.show {
      display: block !important;
      transition: all 0.3s;
      position: absolute;
      width: 400px;
      right: 80px;
      top: 25px;
      opacity: 100;
      background-color: transparent;

      form {
        #searchResult {
          position: absolute;
          right: 0px;
          top: 26px;

          max-height: 500px;
          margin-top: 10px;
        }
        .form-control {
          width: 200px;
        }
      }
    }
  }
}
