#searchResult {
  overflow-y: scroll;
  .row {
    .col {
      .list-group-item {
        background-color: red;

        a {
          color: black;
          text-decoration: none;
          text-align: left;
        }
        .link-info .card {
          img {
            height: 30px;
          }
        }
      }
    }
  }
}
