.navbar-collapse {
  form {
    .row {
      margin: auto;
    }

    .form-control {
      border: 2px solid white;
      border-radius: 0;
      height: 25px;

      &:after {
        border: 2px solid white;
      }
    }
  }
  #search-bar.show .py-3 {
    padding-bottom: 0;
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .navbar-collapse {
    display: block;
    form {
      .form-control {
        max-width: 300px;
        display: block;
      }
    }
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar {
    #navbarSupportedContent {
      justify-content: end;
    }
    form {
      justify-content: end;
    }
    #search-bar {
      transition: all 0.5s;
      .row {
        margin: 0;
      }
    }
    #search-bar:not(.show) {
      position: absolute;
      transition: all 0.5s;
      right: 80px;
      opacity: 0;
      top: 25px;
    }
    #search-bar.show {
      display: block !important;
      transition: all 0.5s;
      position: absolute;
      width: 400px;
      right: 80px;
      top: 25px;
      opacity: 100;
    }
  }
}
