.tab-row {
  max-width: 1200px;
  flex-direction: column;
  margin: auto;
  height: 70vh;
  overflow: hidden;
  .col {
    height: 100%;
    overflow-y: scroll;
  }
  .nav-item:first-of-type {
    a {
      border-top: 2px solid black;
    }
  }
  .nav-item {
    a {
      color: black;
      border-radius: 0;
      border-bottom: 2px solid black;
    }
    .active {
      background-color: rgba(255, 255, 255, 0.597);
      color: black;
    }
  }
  .tab-content {
    .active {
      background-color: white;
      position: absolute;
      top: 180px;
      width: 100%;
      height: 100%;
      .row {
        margin: auto;
      }
    }
  }
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .tab-row {
    height: 70vh;
    overflow: hidden;
    flex-direction: row;
    .col {
      overflow-y: scroll;
      height: 100%;
    }
  }
  .tab-content {
    .active {
      position: relative;
    }
  }
}
