@charset "UTF-8";
body {
  background-color: #e5e3dc;
}

p {
  font-family: alber-new-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
.modal-title,
.nav-link {
  font-family: gimlet-micro-condensed, serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 25px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 18px;
}

p {
  font-size: 16px;
}

.container {
  max-width: none;
}

.shadow {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px !important;
}

/*
.modal-open {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
*/
img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.navbar {
  height: 60px;
  background-color: black;
  z-index: 10;
  top: 0;
  position: fixed;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100vw;
}

.navbar a {
  color: transparent;
  text-align: center;
  font-family: gimlet-micro-condensed, serif;
  font-weight: 400;
  font-style: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #logo-container {
  margin-right: auto;
}

.navbar #logo-container #logo {
  padding-left: 1em;
}

.navbar .navbar-collapse {
  top: 60px;
  background-color: black;
}

.navbar .navbar-toggler {
  border: none;
}

.navbar .navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar .nav-link {
  padding-bottom: 0;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.navbar #search-button {
  float: right;
}

.navbar #hamburger {
  padding-right: 1em;
}

#nav-border {
  width: 100%;
  border-bottom: 2px solid;
  margin: auto;
}

.clear-header {
  padding-top: 90px;
}

.container .admin-navbar-hidden {
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .admin-navbar-hidden a {
  margin: auto;
  padding: 0;
}

.container .admin-navbar-hidden a span {
  margin: auto;
}

.container #logo p {
  display: inline;
}

.container .admin-navbar {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .admin-navbar a {
  padding-left: 1em;
}

.container .admin-navbar .navbar-nav a {
  padding-left: 0;
  color: white;
}

.container .admin-navbar #basic-navbar-nav {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

.container .admin-navbar #basic-navbar-nav button {
  margin: auto;
}

.container .admin-navbar #basic-navbar-nav button:hover {
  color: rgba(255, 255, 255, 0.55);
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar #logo-container {
    text-align: left;
    padding-left: 2em;
  }
  .navbar #search-button {
    display: block;
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    padding-right: 2em;
  }
  #navbarSupportedContent form {
    float: right;
  }
  .container .admin-navbar #basic-navbar-nav {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 100px;
  }
  .container .admin-navbar #basic-navbar-nav button {
    position: absolute;
    right: 0;
    padding-right: 1em;
  }
}

.navbar-collapse form .row {
  margin: auto;
}

.navbar-collapse form .form-control {
  border: 2px solid white;
  border-radius: 0;
  height: 25px;
}

.navbar-collapse form .form-control:after {
  border: 2px solid white;
}

.navbar-collapse #search-bar.show .py-3 {
  padding-bottom: 0;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .navbar-collapse {
    display: block;
  }
  .navbar-collapse form .form-control {
    max-width: 300px;
    display: block;
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar #navbarSupportedContent {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .navbar form {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
  .navbar #search-bar {
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
  }
  .navbar #search-bar .row {
    margin: 0;
  }
  .navbar #search-bar:not(.show) {
    position: absolute;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    right: 80px;
    opacity: 0;
    top: 25px;
  }
  .navbar #search-bar.show {
    display: block !important;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    position: absolute;
    width: 400px;
    right: 80px;
    top: 25px;
    opacity: 100;
  }
}

#hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#hamburger span {
  height: 3px;
  height: 2px;
  background-color: white;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}

#hamburger #span1,
#hamburger #span2,
#hamburger #span3 {
  width: 30px;
}

#hamburger[aria-expanded="true"] #span1 {
  -webkit-transform: rotate(45deg) translate(5px, 7px);
          transform: rotate(45deg) translate(5px, 7px);
}

#hamburger[aria-expanded="true"] #span3 {
  -webkit-transform: rotate(-45deg) translate(4px, -6px);
          transform: rotate(-45deg) translate(4px, -6px);
}

#hamburger[aria-expanded="true"] #span2 {
  width: 0;
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  #hamburger {
    display: none;
  }
}

#searchResult {
  overflow-y: scroll;
  max-height: 400px;
  border-radius: 0;
}

#searchResult .row .col .list-group-item a {
  color: black;
  text-decoration: none;
  text-align: left;
  height: auto;
}

#searchResult .row .col .list-group-item .link-info img {
  height: 100%;
  border-radius: 0;
  max-height: 150px;
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  #searchResult {
    max-height: 800px;
  }
}

.above-fold {
  height: 100vh;
}

.above-fold .row {
  height: 100%;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.above-fold .row .col1 .row {
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.above-fold .row .col2 {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.above-fold .row .col2 img {
  height: 750px;
}

/*
.top-picks {
  margin-top: 20px;
  margin-bottom: 20px;
  .list-group .row {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    .col {
      height: 100%;
      .list-group-item {
        background-color: transparent;
        border: transparent;
        height: 100%;

        a {
          height: 100%;
          .card {
            height: 100%;
            max-width: 400px;
            margin: auto;
            // height: 480px;
            // transition: all ease-in-out 0.3s;
            &:hover {
              // transform: scale(1.05);
              // transition: all ease-in-out 0.3s;
            }
            img {
              height: 230px;
              width: 100%;
              object-fit: cover;
            }
            div {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              button {
                width: fit-content;
              }
            }
          }
        }
      }
    }
  }
}*/
.home-information .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-information .row .col {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  /*
  //second container

  .top-picks {
    .list-group .row {
      grid-template-columns: repeat(2, 1fr);
      .col {
        width: 100%;
      }
    }
  }*/
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .above-fold .row .col1 {
    height: 100%;
  }
  .above-fold .row .col1 .col:first-of-type {
    max-width: 400px;
  }
  .above-fold .row .col1 .col:last-of-type {
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .above-fold .row .col1 .col:last-of-type img {
    height: 100%;
  }
  .above-fold .row .col2 {
    height: 100%;
  }
  .above-fold .row .col2 img {
    height: 90%;
  }
  /*
  .top-picks {
    .list-group .row {
      grid-template-columns: repeat(4, 1fr);
      .col {
        width: 100%;
        .list-group-item {
          height: 100%;
          a {
            .card {
              height: 100%;
            }
          }
        }
      }
    }
  }*/
  .home-information .row {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .home-information .row .col {
    max-width: 350px;
  }
}

.btn-outline-primary,
.btn-check:focus + .btn-outline-primary,
.btn-outline-primary:focus {
  border-color: black;
  color: black;
  border-radius: 0;
  border-width: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.btn-outline-primary:hover,
.btn-check:focus + .btn-outline-primary:hover,
.btn-outline-primary:focus:hover {
  border-color: black;
  background-color: black;
  color: white;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.btn-primary {
  border-radius: 0;
  background-color: black;
  border-color: black;
  border-width: 2px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: white;
}

.btn-primary:hover {
  border-color: black;
  background-color: transparent;
  color: black;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .btn-primary {
  border-right: transparent;
  border-top: transparent;
  border-bottom: transparent;
}

.filter .btn-outline-primary.dropdown-toggle.show,
.filter .btn-outline-primary:active {
  background-color: black;
  border-color: black;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: white;
}

.filter .dropdown-toggle::after {
  content: none;
}

.filter .dropdown-toggle::before {
  content: "\f0b0";
}

footer {
  background-color: white;
  font-size: 12px;
  text-align: center;
}

footer .nav-link {
  color: black;
}

footer .nav-link:hover {
  text-decoration: underline;
}

footer .nav-link i {
  font-size: 25px;
}

footer .row p,
footer .row input,
footer .row button {
  font-size: 12px;
}

footer .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .row .col .row .col:first-of-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-icons {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer .footer-icons .col {
  padding: 0;
}

footer .footer-icons .col a {
  padding-left: 10px;
  padding-right: 10px;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  footer .row .col .row .col:first-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  footer .row .col .row .col:first-child a {
    text-align: left;
    padding-left: 1rem;
  }
  footer .row .col .row .col:first-child .footer-icons .col {
    padding-left: calc(var(--bs-gutter-x) * 0.5);
  }
  footer .row .col .row .col:first-child .footer-icons .col a {
    text-align: left;
  }
}

/* Media Query for Desktop*/
input,
.input-group,
.form-control {
  border: solid black 2px;
  border-radius: 0;
  background-color: transparent;
}

.filter {
  border: none;
}

.filter .form-check-input[type="checkbox"] {
  border: solid 2px black;
  border-radius: 0;
  background-color: transparent;
  color: black;
}

.filter .form-check-input:checked[type="checkbox"] {
  background-color: black;
}

.dropdown-menu {
  background-color: #e5e3dc;
  width: 200px;
  padding: 20px;
  border-radius: 0;
  border: none;
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.dropdown-menu button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.dropdown-menu.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.breadcrumb .breadcrumb-item,
.breadcrumb .breadcrumb-item a {
  color: black;
  text-decoration: none;
}

.list-group {
  max-width: 1200px;
  margin: auto;
}

.list-group .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list-group .row .col .list-group-item {
  height: 100%;
  border: none;
  border-radius: 0;
  background-color: transparent;
}

.list-group .row .col .list-group-item .link-info {
  color: black;
  text-decoration: none;
}

.list-group .row .col .list-group-item .link-info .card {
  height: 100%;
  border: none;
  border-radius: 0;
  max-width: 350px;
  margin: auto;
}

.list-group .row .col .list-group-item .link-info .card img {
  height: 250px;
  border-radius: 0;
}

.single-accommodations-container .row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.single-accommodations-container .row .bg-white p,
.single-accommodations-container .row .bg-white div {
  max-width: 500px;
  margin: auto;
}

.single-accommodations-container .row .col .row {
  margin-left: auto;
  margin-right: auto;
}

.single-accommodations-container .row .col .row .col .list-group {
  list-style: circle;
}

.single-accommodations-container .row .col .row .col .list-group .list-group-item {
  border: none;
  padding-left: 0;
}

.single-accommodations-container .row .col .row .col .list-group .list-group-item::before {
  content: "• ";
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
.carousel-col {
  height: 400px;
}

.carousel-col .carousel {
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr 1fr;
      grid-template-columns: 1fr 4fr 1fr;
}

.carousel-col .carousel .carousel-indicators {
  display: none;
}

.carousel-col .carousel a {
  position: relative;
  width: 100%;
}

.carousel-col .carousel .carousel-control-next {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.carousel-col .carousel .carousel-control-prev {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.carousel-col .carousel .carousel-inner {
  height: 100%;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.carousel-col .carousel .carousel-inner .carousel-item {
  height: 100%;
  margin: auto;
}

.carousel-col .carousel .carousel-inner .carousel-item img {
  height: 100%;
  width: auto;
}

.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  .single-accommodations-container .row .carousel-col {
    height: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .single-accommodations-container .row .carousel-col .carousel-dark {
    height: 100%;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .single-accommodations-container .row .carousel-col .carousel-dark .carousel-inner .carousel-item {
    height: 100%;
  }
  .single-accommodations-container .row .carousel-col .carousel-dark .carousel-inner .carousel-item img {
    height: 300px;
  }
}

.modal .modal-dialog {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal .modal-dialog .modal-content {
  border-radius: 0;
}

.modal .modal-dialog .modal-content .modal-header {
  border-bottom: 0;
}

.contact-us {
  min-height: 100vh;
}

.contact-us .row {
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.contact-us .row .col {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.contact-us .row .col form {
  max-width: 350px;
  margin: auto;
}

.contact-us .row .d-sm-block {
  padding-left: 0;
  padding-right: 0;
}

.contact-us .row .d-sm-block img {
  height: 30vh;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .contact-us {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr;
  }
  .contact-us .row .col form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .contact-us .row .d-sm-block {
    overflow-x: hidden;
  }
  .contact-us .row .d-sm-block img {
    min-height: 25em;
  }
}

.admin-login {
  height: 100vh;
}

.admin-login .row {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  height: 80vh;
}

.admin-login .row .col {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.admin-login .row .col form {
  max-width: 350px;
}

.admin-login .row .col:last-of-type {
  padding-right: 0;
}

.admin-login .row .col:last-of-type img {
  height: 30vh;
}

.admin {
  height: 100vh;
}

.admin .row {
  margin-right: -1.5rem;
  margin-left: -1.5rem;
  height: 80vh;
}

.admin .row .col {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}

.admin .row .col .row {
  -ms-flex-line-pack: start;
      align-content: flex-start;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.admin .row .col:last-of-type {
  padding-right: 0;
}

.admin .row .col:last-of-type img {
  height: 30vh;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .admin-login {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto 1fr;
        grid-template-rows: auto auto 1fr;
  }
  .admin-login .row .col form {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .admin-login .row .col:last-of-type {
    overflow-x: hidden;
  }
  .admin-login .row .col:last-of-type img {
    min-height: 25em;
  }
  .admin .row .col:last-of-type {
    overflow-x: hidden;
  }
  .admin .row .col:last-of-type img {
    min-height: 25em;
  }
}
/*# sourceMappingURL=style.css.map */