body {
  background-color: #e5e3dc;
}

p {
  font-family: alber-new-web, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2 {
  font-family: gimlet-micro-condensed, serif;
  font-weight: 400;
  font-style: normal;
}

/*
.modal-open {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}
*/
img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.navbar {
  min-height: 70px;
  background-color: white;
  z-index: 10;
  position: absolute;
  top: 0;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar #search-button {
  right: 50px;
  top: 2px;
}

.navbar #hamburger {
  right: 0;
}

.navbar-toggler {
  position: absolute;
  top: 10px;
  border: none;
}

.navbar-toggler:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

#nav-border {
  width: 100%;
  border-bottom: 2px solid;
  margin: auto;
}

.beadcrumb .link-dark a {
  color: black;
}

.beadcrumb .link-dark a:hover {
  text-decoration: none;
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (4fr)[1];
        grid-template-columns: repeat(1, 4fr);
    grid-gap: 0 20px;
  }
  .navbar #nav-border {
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1/4;
  }
  .navbar #navbarSupportedContent form {
    float: right;
  }
}

.navbar-collapse {
  display: block;
}

.navbar-collapse .navbar-nav .nav-link,
.navbar-collapse .navbar-nav .nav-link.active {
  color: black;
}

.navbar-collapse .navbar-nav .nav-link:hover,
.navbar-collapse .navbar-nav .nav-link.active:hover {
  text-decoration: underline;
  color: black;
}

.navbar-collapse .navbar-nav .nav-link i,
.navbar-collapse .navbar-nav .nav-link.active i {
  font-size: 25px;
  color: black;
}

.navbar-collapse form .form-control {
  border: 2px solid black;
  border-radius: 0;
  height: 25px;
}

.navbar-collapse form .form-control:after {
  border: 2px solid black;
}

/* Media Query for Tablets*/
@media only screen and (min-width: 767.98px) and (max-width: 991.98px) {
  .navbar-collapse {
    display: block;
  }
  .navbar-collapse form .form-control {
    max-width: 300px;
    display: block;
  }
}

/* Media Query for Desktop*/
@media (min-width: 922px) {
  .navbar #navbarSupportedContent {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
  }
}

#hamburger {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  height: 40px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

#hamburger span {
  height: 3px;
  height: 2px;
  background-color: black;
  -webkit-transition: all, 0.4s;
  transition: all, 0.4s;
}

#hamburger #span1 {
  width: 30px;
}

#hamburger #span2 {
  width: 15px;
}

#hamburger #span3 {
  width: 30px;
}

#hamburger[aria-expanded="true"] #span1 {
  -webkit-transform: rotate(45deg) translate(5px, 7px);
          transform: rotate(45deg) translate(5px, 7px);
}

#hamburger[aria-expanded="true"] #span3 {
  -webkit-transform: rotate(-45deg) translate(4px, -6px);
          transform: rotate(-45deg) translate(4px, -6px);
}

#hamburger[aria-expanded="true"] #span2 {
  width: 0;
}

/* Media Query for Tablets*/
/* Media Query for Desktop*/
@media (min-width: 922px) {
  #hamburger {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */